{% load static %}
<!-- ======= Footer ======= -->
<section class="section-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">TY-LEASE</h3>
          </div>
          <div class="w-body-a">
            <p class="w-text-a color-text-a">
              We are a property development company whose sole aim is to provide good, conducive and quality housing at a very affordable
              price.
            </p>
          </div>
          <div class="w-footer-a">
            <ul class="list-unstyled">
              <li class="color-a">
                <span class="color-text-a">Phone .</span> +2348036764536
              </li>
              <li class="color-a">
                <span class="color-text-a">Email .</span> contact@example.com
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 section-md-t3">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">Learn More</h3>
          </div>
          <div class="w-body-a">
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> <a href="{% url 'about' %}">about us</a>
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> <a href="{% url 'contact' %}">contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 section-md-t3">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">Our Properties</h3>
          </div>
          <div class="w-body-a">
            <ul class="list-unstyled">
              <li class="item-list-a">
                <i class="bi bi-chevron-right"></i> <a href="{% url 'furniture' %}">furnitures</a>
              </li>
              <li class="item-list-a">
                <i class="bi bi-chevron-right"></i> <a href="{% url 'sale' %}">Properties for sale</a>
              </li>
              <li class="item-list-a">
                <i class="bi bi-chevron-right"></i> <a href="{% url 'rent' %}">Properties for rent</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="nav-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="{% url 'index' %}">Home</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'about' %}">About</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'contact' %}">Contact</a>
              </li>
            </ul>
          </nav>
          <div class="socials-a">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">
                  <i class="bi bi-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="bi bi-instagram" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a">TY-LEASE</span> All Rights Reserved.
            </p>
          </div>
          <div class="credits">
            
            Designed by <a href="">CLT</a>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->